/* Make tooltip nice and centered */
#tooltip {
	margin-top : 5px;
	margin-bottom : 5px;
}

/* Make title beautiful */
h1 {
	font-family : Trebuchet MS, Arial Black, Arial;
}

.dark {
	background-color : black
}